           html {
               height: 100%;
               width: 100%;
           }
           
           .TextBox {
               background-image: url("https://images.pexels.com/photos/789145/pexels-photo-789145.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
               background-size: cover;
           }
           
           h1 {
               padding-top: 50px;
               padding-bottom: 50px;
           }
           
           p {
               font-family: 'Supermercado One', cursive;
           }
           
           a {
               font-family: 'Berkshire Swash', cursive;
           }
           
           h3 {
               color: rgb(60, 70, 69);
               font-family: 'Lobster', cursive;
           }
           
           #About {
               margin: 100px;
           }
           
           #LeftContent {
               padding-top: 50px;
               margin: 0 auto;
           }
           
           #Skill {
               padding: 0 100px;
               margin: 50px auto;
           }
           
           #Habbit {
               padding: 0 100px;
               margin: 50px auto;
           }
           
           .icon {
               display: inline-block;
               padding: 0 550px;
               color: white;
           }
           
           .fa {
               padding: 0 25px;
           }
           
           footer {
               background-color: black;
               padding: 50px 0;
               margin-top: 100px;
           }
           
           .Blue {
               color: yellow;
           }